nbproject/
dist/
cache/
driverFlexCode/
KhanzaAntrianApotek/
KhanzaAntrianLoket/
KhanzaAntrianLoket2/
KhanzaAntrianPoli/
KhanzaCetakAntrianPoli/
KhanzaCetakAntrianLoket/
KhanzaHMSAnjungan/
KhanzaHMSAnjunganFingerPrint/
KhanzaHMSAutoVerify/
KhanzaHMSAutoVerify2/
KhanzaHMSResume/
KhanzaHMSServiceAplicare/
KhanzaHMSServiceMandiri/
KhanzaHMSServiceMobileJKN/
KhanzaHMSServiceMobileJKNERM/
KhanzaHMSServiceMobileJKNFKTP/
KhanzaHMSServicePCare/
KhanzaHMSServiceSatuSehat/
KhanzaHMSServiceSIRSYankes/
KhanzaPengenkripsiTeks/
KhanzaSecurity16bit/
KhanzaUpdater/
/build/
